---
permalink:    /
title:        'Home'
description:  "Mooyyu Crab.'s blog"
isIndex:      true
category:     [ default ]
---

{% capture cmdHeader %}
<div class="click">
  <div class="red"></div>
  <div class="yellow"></div>
  <div class="green"></div>
</div>
<div class="title">
  <span>𝒞𝓇𝒶𝒷.𝓂ℴℴ𝓎𝓎𝓊 - iTerm2</span>
</div>
{% endcapture %}

{% capture bashHeader %}
<span style="color: rgb(0, 190, 0);">𝒞𝓇𝒶𝒷.𝓂ℴℴ𝓎𝓎𝓊 @ mooyyu.github.io</span>
<span style="color: blue;">~</span>
<br>
<span style="color: darkslategrey;">> </span>
{% endcapture %}

<div id="box">
  <div class="header-box">
    <div class="avatar">
      <img src="/assets/images/logo/mooyyu/logo.jpg" alt="logo" class="img-responsive">
    </div>
  </div>
  <div id="cmdBox">
    <div class="cmd">
      {{ cmdHeader }}
      <div class="cmdText">
        {{ bashHeader }}
        <span style="color: green;">curl</span> -s
        <span style="color: yellowgreen;">https://api.github.com/repos/mooyyu/mooyyu.github.io/commits</span> \
        <br>| 
        <span style="color: green;">jq</span> -r
        <span style="color: yellowgreen;">'.[].commit|.author.date+" "+.author.name+" "+.message'</span>
        <br>
        <p v-for="(item, index) in log" :key="'log-'+index" v-text="item.commit.author.date+' '+item.commit.author.name+' '+item.commit.message"></p>
        {{ bashHeader }}
      </div>
    </div>
    <div class="cmd">
      {{ cmdHeader }}
      <div class="cmdText">
        {{ bashHeader }}
        <span style="color: green;">curl</span> -s 
        <span style="color: yellowgreen;">https://mooyyu.github.io/whoami/whoami.json</span> | 
        <span style="color: green;">jq</span> -r 
        <span style="color: yellowgreen;">'.intro|.[]'</span>
        <br>
        <p v-for="(item, index) in whoami.intro" :key="'intro-'+index" v-text="item"></p>
        {{ bashHeader }}
      </div>
    </div>
  </div>
</div>

<script>
  let box = new Vue({
    el: '#box',
    data() {
      return {
        log: [],
        whoami: {
          intro: []
        }
      }
    },
    created() {
      this.xget('https://api.github.com/repos/mooyyu/mooyyu.github.io/commits', 'log');
      this.xget('https://mooyyu.github.io/whoami/whoami.json', 'whoami');
    },
    methods: {
      xget(url, data) {
        let vue = this;
        let xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);
        xhr.send();
        xhr.onreadystatechange = function (e) {
          if (xhr.readyState == 4 && xhr.status == 200) {
            vue[data] = JSON.parse(xhr.response);
          }
        };
      }
    }
  })
</script>